<div class="form-horizontal">
  <%= f.label "Title:" %>
    <div class="col-xs-12">
      <%= f.text_field :name, class: "form-control" %>
    </div>
</div>

<div class="form-horizontal">
  <%= f.label "Director:" %>
    <div class="col-xs-12">
      <%= f.text_field :director, class: "form-control" %>
    </div>
</div>

<div class="form-horizontal">
  <%= f.label "Description:" %>
    <div class="col-xs-12">
      <%= f.text_area :description, class: "form-control" %>
    </div>
</div>
