<h1>Movies</h1>

<table class = "table table-striped">
  <colgroup span="3" class="columns"></colgroup>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td>Ranking: <%= movie.rank %></td>
      <td><%= link_to movie.name, movie_path(movie) %></td>
      <td><%= button_to 'Upvote', movie_vote_path(movie), class: "btn btn-default" %></td>
    </tr>
    <% end %>

</table>

<%= link_to "All Media", home_path, class: "btn btn-default" %>
<%= link_to "Add Movie", new_movie_path, class: "btn btn-default" %>
