<h2><%= @movie.name %> <small>Directed by <%= @movie.director %></small></li>
</h2>


<ul>
  <li>Ranked: <% if @movie.rank %>
                <%= @movie.rank %>
              <% else %>
                0
              <% end %></li>
  <li>Description: <%= @movie.description %></li>
</ul>

<%= button_to 'Upvote', movie_vote_path(@movie) %>

<%= link_to "Edit #{@movie.name}", edit_movie_path(@movie) %>
<%= link_to "Delete #{@movie.name}", delete_movie_path(@movie) %>
<%= link_to "All movies", movies_path %>
<%= link_to "See all media", home_path %>
