<h2><%= @movie.name %> <small>Directed by <%= @movie.director %></small></li>
</h2>


<ul>
  <li>Ranked: <%= @movie.rank %></li>
  <li>Description: <%= @movie.description %></li>
</ul>

<%= button_to 'Upvote', movie_vote_path(@movie), class: "btn-lg btn-default" %><br>

<div class="btn-group btn-group-md">
  <%= link_to "Edit #{@movie.name}", edit_movie_path(@movie), class: "btn btn-default" %>
  <%= link_to "Delete #{@movie.name}", delete_movie_path(@movie), class: "btn btn-default" %>
  <%= link_to "All movies", movies_path, class: "btn btn-default" %>
  <%= link_to "See all media", home_path, class: "btn btn-default" %>
</div>
