<h1>Books</h1>

<table class="table table-striped">
  <colgroup span="3" class="columns"></colgroup>
  <tr>
    <th>Ranking</th>
    <th>Title</th>
    <th>Upvote</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td>Ranking: <%= no_rank?(book.rank) %></td>
      <td><%= link_to book.name, book_path(book) %></td>
      <td><%= button_to 'Upvote', book_vote_path(book), class: "btn btn-default" %></td>
    </tr>
    <% end %>

</table>

<%= link_to "All Media", home_path, class: "btn btn-default" %>
<%= link_to "Add Book", new_book_path, class: "btn btn-default" %>
