<h2><%= @book.name %> <small>Written by <%= @book.author %></small></li>
</h2>


<ul>
  <li>Ranked: <% if @book.rank %>
                <%= @book.rank %>
              <% else %>
                0
              <% end %></li>
  <li>Description: <%= @book.description %></li>
</ul>


<%= link_to "Edit #{@book.name}", edit_book_path(@book) %>
<%= link_to "Delete #{@book.name}", delete_book_path(@book) %>
<%= link_to "All books", books_path %>
<%= link_to "See all media", home_path %>
