<h2><%= @book.name %> <small>Written by <%= @book.author %></small></li>
</h2>


<ul>
  <li>Ranked: <%= no_rank?(@book.rank) %>
  <li>Description: <%= @book.description %></li>
</ul>

<%= button_to 'Upvote', book_vote_path(@book), class: "btn-lg btn-default" %><br>
<div class="btn-group btn-group-md">
  <%= link_to "Edit #{@book.name}", edit_book_path(@book), class: "btn btn-default" %>
  <%= link_to "Delete #{@book.name}", delete_book_path(@book), class: "btn btn-default" %>
  <%= link_to "All books", books_path, class: "btn btn-default" %>
  <%= link_to "See all media", home_path, class: "btn btn-default" %>
</div>
