<h2><%= @book.name %> <small>Written by <%= @book.author %></small></li>
</h2>


<ul>
  <li>Ranked: <% if @book.rank %>
                <%= @book.rank %>
              <% else %>
                0
              <% end %></li>
  <li>Description: <%= @book.description %></li>
</ul>

<%= button_to 'Upvote', book_vote_path(@book), class: "btn-lg btn-default" %>
<div class="btn-group btn-group-md">
  <%= link_to "Edit #{@book.name}", edit_book_path(@book), class: "btn btn-default" %>
  <%= link_to "Delete #{@book.name}", delete_book_path(@book), class: "btn btn-default" %>
  <%= link_to "All books", books_path, class: "btn btn-default" %>
  <%= link_to "See all media", home_path, class: "btn btn-default" %>
  <%= button_to 'Upvote', album_vote_path(@album), class: "btn-lg btn-default" %><br>
</div>
