<h2><%= @album.name %> <small>Written by <%= @album.artist %></small></li>
</h2>


<ul>
  <li>Ranked: <%= @album.rank %>
  <li>Description: <%= @album.description %></li>
</ul>

<%= button_to 'Upvote', album_vote_path(@album), class: "btn-lg btn-default" %><br>

<div class="btn-group btn-group-md">
  <%= link_to "Edit #{@album.name}", edit_album_path(@album), class: "btn btn-default" %>
  <%= link_to "Delete #{@album.name}", delete_album_path(@album), method: :delete, class: "btn btn-default" %>
  <%= link_to "All books", albums_path, class: "btn btn-default" %>
  <%= link_to "See all media", home_path, class: "btn btn-default" %>
</div>
