<h2><%= @album.name %> <small>Written by <%= @album.artist %></small></li>
</h2>


<ul>
  <li>Ranked: <% if @album.rank %>
                <%= @album.rank %>
              <% else %>
                0
              <% end %></li>
  <li>Description: <%= @album.description %></li>
</ul>

<!-- <%= form_for @movie, url: update_movie_path(@movie) do |f| %>
  <%= f.hidden_field :rank, :value => "1" %>
  <%= f.submit "Upvote" %>
<% end %> -->

<%= link_to "Edit #{@album.name}", edit_album_path(@album) %>
<%= link_to "Delete #{@album.name}", delete_album_path(@album) %>
<%= link_to "All books", albums_path %>
<%= link_to "See all media", home_path %>
