<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <header class="row">
      <h1><%= link_to "Media Ranker", home_path %> <small>Because Rankers Like To Rank</small></h1>
      <hr>
    </header class="row">

    <%= yield %>
  </div>

</body>
</html>
